<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" href="img/favicon.png" type="image/png">
  <title>Detalle del Libro</title>
  <link rel="stylesheet" href="../static/css/estilos.css" />
</head>
<body>
<div id="navbar-container"></div>
  <header>
    <h1>📖 Detalle del Libro</h1>
  </header>

  <main>
    <div id="detalleLibro" class="libro-detalle">
      <p>Cargando libro...</p>
    </div>
  </main>

  <footer>
    <p><a href="catalogo.html">⬅️ Volver al Catálogo</a></p>
  </footer>

  <!-- <script src="js/libro.js"></script> -->
</body>
</html>
